<div class="container">
  <div class="burger-img"></div>
  <h1>Eat The Burger!</h1>
  <div class="burger-container">
    <ul class="devour-burgers burger-list">
      {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burgers-block devoured=false}}
        {{/unless}}
      {{/each}}
    </ul>
    <ul class="eaten-burgers burger-list">
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burgers-block devoured=true}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <form class="burger-input-form">
    <div class="burger-input-wrapper">
      <label class="burger-input-label">Enter a burger name</label>
      <input type="text" placeholder="Whatever Burger" autocomplete="off" id="burger-input" class="burger-input" required />
    </div>
    <div class='btn-wrapper'>
      <input id='submit-btn' class='btn' type="submit">
    </div>  
  </form>
</div>